In [2]:
import pyarrow.parquet as pa
import pandas as pd
import numpy as np

In [4]:
df_0 = pd.read_parquet('data0.pqt', engine='pyarrow')
df_1 = pd.read_parquet('data1.pqt', engine='pyarrow')
df_2 = pd.read_parquet('data2.pqt', engine='pyarrow')
df_3 = pd.read_parquet('data3.pqt', engine='pyarrow')
df_4 = pd.read_parquet('data4.pqt', engine='pyarrow')
df_5 = pd.read_parquet('data5.pqt', engine='pyarrow')
df_6 = pd.read_parquet('data6.pqt', engine='pyarrow')
df_7 = pd.read_parquet('data7.pqt', engine='pyarrow')
df_8 = pd.read_parquet('data8.pqt', engine='pyarrow')
df_9 = pd.read_parquet('data9.pqt', engine='pyarrow')

In [ ]:
df__1 = pd.read_parquet('submit_2.pqt', engine='pyarrow')

In [4]:
df__2 = pd.read_parquet('public_train (1).pqt', engine='pyarrow')

In [ ]:
dd_0 = pd.unique(df_0['user_id'])
dd_1 = pd.unique(df_1['user_id'])
dd_2 = pd.unique(df_2['user_id'])
dd_3 = pd.unique(df_3['user_id'])
dd_4 = pd.unique(df_4['user_id'])
dd_5 = pd.unique(df_5['user_id'])
dd_6 = pd.unique(df_6['user_id'])
dd_7 = pd.unique(df_7['user_id'])
dd_8 = pd.unique(df_8['user_id'])
dd_9 = pd.unique(df_9['user_id'])

In [ ]:
from functools import reduce
arrr = reduce(np.union1d, (dd_0, dd_1,dd_2,dd_3,dd_4,dd_5,dd_6,dd_7,dd_8,dd_9))

In [6]:
f = pd.DataFrame(np.setdiff1d(arrr, np.array(df__1['user_id'])))

221301    221301
31271      31271
211594    211594
253119    253119
192578    192578
           ...
145307    415284
145308    415285
145309    415286
145312    415306
145315    415315
Name: user_id, Length: 144724, dtype: int64

In [6]:
ff = pd.DataFrame(np.setdiff1d(f, np.array(df__2['user_id'])))

NameError: ignored

In [ ]:
ff.to_parquet('Wrong_user_ids.pqt')

In [ ]:
df__1['user_id'].to_parquet('Submit_user_ids.pqt')

In [ ]:
df__2['user_id'].to_parquet('Train_user_ids.pqt')